@(studentForm: Form[Student])
 
@import helper._
@import helper.twitterBootstrap._
 
@main("Thông Tin") {
  <h1>Thông Tin</h1>
  @form(CSRF(routes.Students.save())) {
    <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
    <fieldset>
       <legend>Student (@studentForm("name").valueOr("New"))</legend>
       @helper.inputText(studentForm("mssv"), '_label -> "MSSV")
       @helper.inputText(studentForm("name"), '_label -> "Name")
       @helper.inputText(studentForm("email"), '_label -> "Email")
	   @helper.inputText(studentForm("phone"), '_label -> "Phone")
	   @helper.inputText(studentForm("address"), '_label -> "Địa chỉ")
	   @helper.inputDate(studentForm("date"), '_label -> "BirthDay")
       @helper.select(studentForm("faculty"),
                                        options = options(Seq("Công nghệ Thông tin", "Khoa học Máy tính",
                                            "Công nghệ Điện tử - Viễn thông", "Vật lý Kỹ thuật", "Công nghệ Cơ Điện tử", "Truyền thông và Mạng máy tính")),
                                        '_label -> "Ngành học",
                                        '_default -> "-- Chọn Ngành --")

    </fieldset>

<div class="control-group">
   <div class="controls">
      <input name="tags[0].id" value="1" type="checkbox"
          @for(i <- 0 to 1) {
             @if(studentForm("tags[" + i + "].id").value == "1") { checked }
                } > Nam
      <input name="tags[1].id" value="2" type="checkbox"
          @for(i <- 0 to 1) {
             @if(studentForm("tags[" + i + "].id").value == "2") { checked }
                } > Nữ
    </div>
 </div>
    <input type="submit" class="btn btn-primary" value="Save">
    <a class="btn" href="@routes.Students.list()">Cancel</a>
  }
}