@(currentPage: com.avaje.ebean.Page[Student])
@main("Quản Lý Sinh Viên") {
    <h2>All students</h2>
    <script>
    function del ( urlToDelete ) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    </script>
 
    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
     <a href="@routes.Students.list(currentPage.getPageIndex - 1)">&larr;</a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active"><a>
            @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
        @if(currentPage.hasNext) {
            <li>
     <a href="@routes.Students.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>
 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MSSV</th>
                <th>Name</th>
                <th>Email</th>

				<th>Địa chỉ</th>
                <th>BirthDay</th>
				<th>Ngành</th>
                <th></th>
            </tr>
        </thead>
        <tbody>    @for(student <- currentPage.getList()) {
            <tr>
                <td><a href="@routes.Students.details(student)">
                @student.mssv
                </a>
                </td>
                <td><a href="@routes.Students.details(student)">
                @student.name</a>
                </td>
                <td><a href="@routes.Students.details(student)">
                @student.email</a>
                </td>

                <td><a href="@routes.Students.details(student)">
                @student.address</a>
                </td>
                <td>@if(student.date != null) {
                    @student.date.format("dd-MM-yyyy")
                }</td>
				<td><a href="@routes.Students.details(student)">
                @student.faculty</a>
                </td>
                <td>
                    <a href="@routes.Students.details(student)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
     <a onclick="javascript:del('@routes.Students.delete(student.mssv)')">
                        <span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
 
    <a href="@routes.Students.newStudent()" class="btn btn-primary">
        New student
    </a>
}
 
        </div>
 
    </body>
</html>
